gym==0.21.0
torch==2.0.1
scikit-opt==0.6.6
pygame
pykalman
scipy
opencv-python
tensorboard
matplotlib
autopep8
cycler
Cython
imageio
ipython
mujoco-py==2.1.2.14
numpy
packaging
pandas==1.5.3
parso
Pillow
protobuf
pykalman
pyparsing
pytest
requests
scikit-learn
six
tabulate
tqdm
urllib3
zipp
jupyter
seaborn
openpyxl
multiprocess==0.70.14
hdbscan
wandb
plotly
shapely
alphashape
openvino-dev[pytorch]==2023.0.1